<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let bolo of carrinho">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="confirmDeleteCart(cake)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-avatar>
          <img [src]="bolo.imagem">
        </ion-avatar>
        <ion-label>{{ bolo.nome }}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-item color="tertiary">Total: {{ total }}</ion-item>
  <ion-button expand="full" fill="solid" (click)="fecharCompra()">
    <ion-icon name="cart"></ion-icon>
    <ion-label>Comprar</ion-label>
  </ion-button>
</ion-content>
